body {
    background: linear-gradient(45deg, #fbda61, #ff5acd)
}

.b {
    display: block;
    margin: 20px auto;
    background: none;
    padding: 12px;
    font-size: 15px;
    border-radius: 22px;
    outline: none;
    color: #f8f9fa;
}

.b {
    border: 2px solid #3498db;
    width: 220px;
}

.b {
    width: 150px;
    border: 2px solid #2ecc71;
    cursor: pointer;
}

.b:focus {
    border-color: #2ecc71;
    width: 280px;
    transition: 0.5s;
}

.b:hover {
    background-color: #2ecc71;
    transition: 0.5s;
}

.navigation {
    position: relative;
    width: 100%;
    height: 100px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr)
}

.navigation ul li:hover a .icon {
    transform: translateY(-35px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: red;
}

.navigation ul li a .text {
    position: relative;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li:hover a .text {
    opacity: 1;
    transform: translateY(10px);
}

.z {
    width: 40px;
    height: 40px;
}

.zz {
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: aqua;
}